﻿<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>@ViewBag.Title — приложение ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/css")*@
        @Styles.Render("~/bundles/bootstrap")
        @*@Scripts.Render("~/bundles/modernizr")*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapjs")
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                @*@Html.ActionLink("Mmm", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">&nbsp; &nbsp; MiLucy</div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главная", "Index", "AdminPanel")</li>
                        <li>@Html.ActionLink("Обо мне", "About", "AdminPanel")</li>
                        <li>@Html.ActionLink("Контакты", "Contact", "AdminPanel")</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="container">

                <div class="col-md-3">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="list-group-item">@Html.ActionLink("Редактирование", "Beads", "AdminPanel")</div>
                            <div class="list-group-item">@Html.ActionLink("Мои работы", "My_works", "AdminPanel")</div>
                            <div class="list-group-item">@Html.ActionLink("Мастер-классы", "Workshops", "AdminPanel")</div>
                            <div class="list-group-item">@Html.ActionLink("Контакты", "Contact", "AdminPanel")</div>
                        </div>

                        @* если появиться что то кроме бисера надо будет добавить *@
                        @*<div class="panel">
                            <div class="panel-header">@Html.ActionLink("Бисероплетение", "Beads", "Home")</div>
                            <div class="panel-body">
                                <ul>
                                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Обо мне", "About", "Home")</li>
                                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                                </ul>
                            </div>
                        </div>*@

                    </div>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <br />
                <br />
                <p>&nbsp; &nbsp; &copy; @DateTime.Now.Year Колотилин Григорий</p>
                <br />
            </div>
        </footer>
    </body>
</html>


