﻿@*@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    }*@

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Здравствуйте! Рада видеть Вас в магазинчике МиЛюси.
        Меня зовут Людмила.
    </p>
    <p>
        Я занимаюсь всякого рода творчеством с малых лет: училась в художественной и музыкальной школе, занимаясь рукоделием,пробовала различные техники.
    </p>
    <p>
        Мое внимание,в итоге, остановилось на бисероплетении. Больше всего мне нравиться использовать японский бисер Миюки и Делика ,в их сочетании создаются поистине великолепные изделия!
    </p>
</article>
