﻿@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>


<section class="contact">
    
    <p>
        <label for="id_subject">Моя почта:</label>
        <span>kackayat2013@yandex.ru</span>
    </p>
    <p>
        <label for="id_subject">Мой телефон:</label>
        <span>8(915)486-05-44</span>
    </p>
    <p>
        <label for="id_subject">Техподдержка:</label>
        <span>G.Kolotilin@yandex.ru</span>
    </p>
</section>