﻿@{
    ViewBag.Title = "Home Page";
}

<ul>
@foreach (Stack1.Article c in ViewBag.Article)
{
    <li>
        <div>
            @c.Title_of_article
            <br/>
            @c.Text
            <br/>
        </div>
    </li>
}
    </ul>